{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}


    </div>

    </div>
    </div>
    <div class="container fiche_produit"> 
    <div id="demo" > 
    <div class="card"> 
    
    <div class="row"> 
    <div class="col-md-6 text-center align-self-center"> 
    <img class="img-fluid photo_produit" src="{{ asset('uploads/photo/' ~ product.photoProduct ) }}"> 
    </div> 
    <div class="col-md-6 info">
    <div class="row title"> 
    <div class="col">

    <h2>{{ product.nameProduct }}</h2>
    </div> 
    <div class="col text-right">
    </div> </div>
    
    <p>{{ product.descriptionProduct }}</p> 
   
    <div class="row price"><big>
    <b> {{ product.priceProduct }}€</b>
    </big></div>
    <div class="row lower"> 
    <div class="col"> 
    <a class="btn_panier" href="{{path("cart_add", {id: product.id})}}">Ajouter au panier</a>
    </div> 
   
    </div> 
    </div> </div> </div> 
    </div> </div> </div>
{% endblock %}
