<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
      
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
 
       <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
       <script src="https://kit.fontawesome.com/3507128011.js" crossorigin="anonymous"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <header>
  <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img src="{{ asset('uploads/logo.png') }}" alt="PalomeiBijoux" class="logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="{{ path('Accueil') }}">Accueil</a>
        <a class="nav-link" href="{{ path('app_contacts_new') }}">Contact</a>
     
      </div>
    </div>
    <div class="icon_user">
    <a class="icon" href="{{ path('app_login') }}"><i  class="fa-solid fa-user"></i></a>
    </div>
  </div>
</nav>
    
    </header>


 {% block body %}{% endblock %}
  

    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                       <img class="logo"src="{{ asset('uploads/logoblanc.png') }}" alt="logo">
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Accueil</h3>
                        <ul>
                            <li><a href="#">Collier</a></li>
                            <li><a href="#">Bracelet</a></li>
                            <li><a href="#">Bagues</a></li>
                            <li><a href="#">Boucles d'oreilles</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Nos équipes</h3>
                        <ul>
                            <li><a href="#">Contacter</a></li>
                            <li><a href="#">CGV</a></li>
                            <li><a href="#">Mentions légales</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-3 item social">
                    <a href="#"><i class="icons ion-social-facebook"></i></a>
                    <a href="#"><i class="icons ion-social-twitter"></i></a>
                    <a href="#"><i class="icons ion-social-snapchat"></i></a>
                    <a href="#"><i class="icons ion-social-instagram"></i></a>
                        <p class="copyright">Palomei Bijoux © 2022</p>
                    </div>
                </div>
            </div>
            </div>
        </footer>
    
   



   </body>
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

   

