{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>
<div class="btn_back"> 
    <a class="btn btn-lg btn-primary btn_co prod" href="{{ path('app_users_index') }}">Retour</a>

    <a class="btn btn-lg btn-primary btn_co prod" href="{{ path('app_users_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('users/_delete_form.html.twig') }}
    </div>
{% endblock %}
