{% extends 'baseadmin.html.twig' %}

{% block title %}Formulaire envoyé{% endblock %}

{% block body %}
<div class="product_back">
    <h1>Formulaires envoyés</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Prénom</th>
                <th>Message</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
              
                <td>{{ contact.lastnameContact }}</td>
                <td>{{ contact.firstnameContact }}</td>
                <td>{{ contact.messageContact }}</td>
                <td>{{ contact.emailContact }}</td>
                <td>
                    <a class="btn btn-lg btn-primary btn_co prod" href="{{ path('app_contacts_show', {'id': contact.id}) }}">Afficher</a>
                    <a class="btn btn-lg btn-primary btn_co prod" href="{{ path('app_contacts_edit', {'id': contact.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
