{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>LastnameContact</th>
                <td>{{ contact.lastnameContact }}</td>
            </tr>
            <tr>
                <th>FirstnameContact</th>
                <td>{{ contact.firstnameContact }}</td>
            </tr>
            <tr>
                <th>MessageContact</th>
                <td>{{ contact.messageContact }}</td>
            </tr>
            <tr>
                <th>EmailContact</th>
                <td>{{ contact.emailContact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contacts_index') }}">back to list</a>

    <a href="{{ path('app_contacts_edit', {'id': contact.id}) }}">edit</a>

    {{ include('contacts/_delete_form.html.twig') }}
{% endblock %}
